<div class="flex-container">
    <div class="flex-item flex-item-head">name</div>
    <div class="flex-item flex-item-head hidden">username</div>
    <div class="flex-item flex-item-head hidden">website</div>
    <div class="flex-item flex-item-head">company</div>
</div>

<div class="flex-container" *ngFor="let worker of listWorker"  (click)="onSelect(worker)">
  <div class="flex-item flex-item-body">{{worker.name}}</div>
  <div class="flex-item flex-item-body hidden">{{worker.username}}</div>
  <div class="flex-item flex-item-body hidden">{{worker.website}}</div>
  <div class="flex-item flex-item-body">{{worker.company.name}}</div>
</div>

<!--<ul>
  <li class="list" *ngFor="let worker of listWorker">
    {{worker.name}}
    <span (click)="onSelect(worker)">more info</span>
  </li>
</ul>-->

<div class="overlay" *ngIf="selectedWorker">
  <app-worker>
    <div>
      <p>name: {{selectedWorker.name}}</p>
      <p>username: {{selectedWorker.username}}</p>
      <p>email: {{selectedWorker.email}}</p>
      <p>address:</p>
      <ul>
        <li>street: {{selectedWorker.address.street}}</li>
        <li>suite: {{selectedWorker.address.suite}}</li>
        <li>city: {{selectedWorker.address.city}}</li>
        <li>zipcode: {{selectedWorker.address.zipcode}}</li>
        <li>geo:
          <ul>
            <li>lat: {{selectedWorker.address.geo.lat}}</li>
            <li>lng: {{selectedWorker.address.geo.lng}}</li>
          </ul>
        </li>
      </ul>
      <p>phone: {{selectedWorker.phone}}</p>
      <p>website: {{selectedWorker.website}}</p>
      <p>company:</p>
        <ul>
          <li>name: {{selectedWorker.company.name}}</li>
          <li>catchPhrase: {{selectedWorker.company.catchPhrase}}</li>
          <li>bs: {{selectedWorker.company.bs}}</li>
        </ul>
      <div class="close-popup" (click)="delete(selectedWorker)"></div>
    </div>
  </app-worker>
</div>
